<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Admin Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<fragment th:replace="fragments/adminnavbar" ></fragment>

<div class ="container">
  <div class = "row">
    <h1> List Students </h1>
  </div>

  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> User Name</th>
      <th> User Email </th>
      <th> User Title </th>
      <th> User Description </th>
      <th> Actions </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "user: ${users}">
      <td th:text = "${user.name}"></td>
      <td th:text = "${user.email}"></td>
      <td th:text = "${user.title}"></td>
      <td th:text = "${user.description}"></td>
      <td>
        <a th:href = "@{/admin/users/courses/{id}(id=${user.id})}"
           class = "btn btn-info">Courses</a>
      </td>
    </tr>
    </tbody>

  </table>

</div>
</body>
</html>