<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<fragment th:replace="fragments/adminnavbar" ></fragment>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Create New Event </h1>
				<div class = "card-body">
					<form th:action="@{/admin/events/}" th:object="${event}" method="POST">
						<div class ="form-group">
							<label> Event Title </label>
							<input
									type = "text"
									name = "title"
									th:field = "*{title}"
									class = "form-control"
							/>
							<div class="text-danger" th:if="${titleErr}" th:text="${titleErr}"></div>
						</div>

						<div class="form-group">
							<label>Content</label>
							<textarea type="text"
									  class="form-control"
									  th:field="*{body}" ></textarea>
							<div class="text-danger"
								 th:if="${bodyErr}"
								 th:text="${bodyErr}"></div>
						</div>

						<div class="form-group">
							<label >Start Time</label>
							<input type="datetime-local"
								   th:field="*{stringStartTime}"
								   class="form-control" >
							<div class="text-danger"
								 th:if="${startTimeErr}"
								 th:text="${startTimeErr}"></div>
						</div>

						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>