<section id="about" class="about">
	<div class="container" data-aos="fade-up">

		<div class="row">
			<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
				<img src="assets/img/about.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
				<h3>Umentor is your best choice for online learning</h3>
				<p class="fst-italic">
					Umentor is an online course provider and online learning platform aimed at professional adults and students.
				</p>
				<ul>
					<li><i class="bi bi-check-circle"></i> Thousands of online courses covering different areas</li>
					<li><i class="bi bi-check-circle"></i> Best trainers across the world</li>
					<li><i class="bi bi-check-circle"></i> Your future starts from Umentor</li>
				</ul>
				<p>
					Join us now, it's free!
				</p>

			</div>
		</div>

	</div>
</section>