<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<fragment th:replace="fragments/head" ></fragment>
<body>

<!-- ======= Header ======= -->
<fragment th:replace="fragments/header" ></fragment>
<!-- End Header -->

<main id="main">
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>We are still working on this page</h2>

    </div>
  </div><!-- End Breadcrumbs -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<fragment th:replace="fragments/footer" ></fragment>
</body>

</html>